.chat {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35;
        
        .user {
            display: flex;
            align-items: center;
            gap: 20px;
            
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }

            .texts {
                display: flex;
                flex-direction: column;
                gap: 5px;

                span {
                    font-style: 18px;
                    font-weight: bold;
                }

                p {
                    font-style: 14px;
                    font-weight: 300;
                    color: #a5a5a5;
                }
            }
        }

        .icons {
            display: flex;
            gap: 20px;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .center{
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        gap: 20px;

        .upload {
            width: max-content;
            height: max-content;
            padding: 30px;
            background-color: rgba(17, 24, 40, 0.781);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto; 
            border-radius: 10px;
            color: white;
        }

        .message {
            max-width: 70%;
            display: flex;
            gap: 20px;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
            .texts {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;
                p { 
                    padding: 20px;
                    background-color: rgba(17, 25, 40, 0.3);
                    border-radius: 10px; 
                }
                span {
                    font-size: 13px;
                }
                img {
                    width: 100%;
                    height: 300px;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }

            &.own {
                align-self: flex-end;
                .texts{
                    p{
                        background-color: #5183fe;
                    }
                }
            }
        }
    }

    .bottom{

        form {

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            border-top: 1px solid #dddddd35;
            gap: 20px;
            margin-top: auto;

            .icons {
                display: flex;
                gap: 20px;
            }

            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

            .typeBox {
                flex: 1;
                border-radius: 10px;
                background-color: rgba(17, 25, 40, 0.5);

                input {
                    flex: 1;
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: white;
                    padding: 20px;
                }

                img{
                    width: 90px;
                    height: 90px;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }

            .emoji {
                position: relative;

                .picker {
                    position: absolute;
                    bottom: 50px;
                    left: 0px;
                }
            }

            .sendButton {
                background-color: #5183fe;
                color: white;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}